@tailwind base;
@tailwind components;
@tailwind utilities;

#presentacion{
    padding-left: 98px;
    padding-top: 30px;
}


#presentacion #icono{
    width: 200px;
}

.contenedor
{

    width:90%;
    max-width:1250px;
    margin:auto;


}

#quienes-somos
{

    padding-right: 40px;
    background-image: url(https://e.rpp-noticias.io/xlarge/2022/01/18/124312_1204340.jpg);
    background-size: cover;
    background-position: center;
     height: 300px;

}

#a-que-se-dedica-la-empresa{

    padding-right: 40px;
    background-image: url(https://www.elfarmaceutico.es/uploads/s1/73/35/9/1f01710f32df2dc74ef1fc466f3c05d9.jpeg);
    background-size: cover;
    background-position: center;
     height: 300px;




}
.tj{
   
    text-align: justify;

}

.mtop-7
{

    margin-top: 70px;

}
.mtop-6
{

    margin-top: 60px;

}

.mbottom-6{

margin-bottom: 60px ;

}

.mright-2{

    margin-right: 20px;
}

.pright-6{
    padding-right: 60px!important;
}
.pleft-6{
    padding-left: 60px!important;
}

.ptopbottom-1{
   
    padding: 10px 0;
}

.subtitulo {
    padding-left: 100px;
    padding-bottom: 50px;
    color: #187ac9;
    font-weight: bold;
  }

  .contenedor-carrusel {
    width: 100%;
    height: 500px;
  }

  .bg-custom {
    background-color: #137090;
  }

  .link-custom {
    color: white;
    font-weight: bold;
    font-size: 23px;
  }

  .custom-button {
    width: 250px;
    height: 72px;
    background-color: #137090;
    color: white;
    font-weight: bold;
    margin: 50px; 
    border-radius: 20px;
}


#loginn{
    width: 39%;
    border: 4px solid #137090;
    border-radius: 26px;
    align-content: center;
    text-align: center;
    padding: 50px;


}

#hola{
margin-right: 90px;
}